

<div class="row">
<div class="col-1"></div>
<div class="col-10">
<div class="row">
  <app-navbar></app-navbar>
</div>
<div class="row">&nbsp;</div>

<div class="row">

  <div class="col-2"><app-leftmenu></app-leftmenu></div>
  
  <div class="col-9"> <router-outlet></router-outlet></div>
  <div class="col-1"></div>
</div>
<div class="row" id="errorDiv" style="color: red;"></div>
<div class="row" id="infoDiv" style="color:green;"></div>
</div>

<div class="col-1"></div>   
</div>



    

 
  
 